NUXT_SMTP_HOST="mail.hosting.reg.ru"
NUXT_SMTP_PORT=465
NUXT_SMTP_USER="postmail@kontursvet.spb.ru"
NUXT_SMTP_PASS=""

NUXT_SMTP_FROM="postmail@kontursvet.spb.ru"
NUXT_SMTP_TO="avglek@kontursvet.spb.ru"