NUXT_SMTP_HOST=""
NUXT_SMTP_PORT=465
NUXT_SMTP_USER=""
NUXT_SMTP_PASS=""
NUXT_SMTP_ACTIVE="true"
NUXT_SMTP_FROM=""
NUXT_SMTP_TO=""

NUXT_BOT_ACTIVE="false"
NUXT_BOT_TOKEN=""
NUXT_CHAT_ID=""
NUXT_NODE_SSL_CERTS=""